pom.xml
/doc
*.iml
/.idea
config.edn
/target
/lib
/classes
/images
/checkouts
pom.xml.asc
*.jar
*.class
.lein-deps-sum
.lein-failures
.lein-plugins
.lein-repl-history
*.*#
*.*~
*.idx
*.bak
*.data
*.js
*.log
*.ifo
.#*
.nrepl-port
out/
repl/
.repl/
*.db
.lein-env
